/* Initial body */
body {
  left: 0;
  margin: 0;
  overflow: scroll;
  position: relative;
}


.pane1{
	display:inline;
}

.greyText{
	color: #121212;
}

#freqPane{
	background-color: #F0F0FF;
	left: 100px;
	top: 500px;
	margin-left:10px;
}

.textsBox{
	background-color: #FFF000;
	overflow: scroll;
}


.containerTexts{
	background-color:#008808;
	//display: inline;
	width:500px;
	height: 500px;
	position: fixed;
	top: 80px;
	left: 1000px;
	//margin-left:555px;
	//margin-top: 10px;
	

}

.resultsListP1{
	overflow: scroll;
	width:270px;
	height:500px;
}

.allTextP1{
	overflow: scroll;
	width:300px;
	height:500px;
	
}


.websitesPanel{
	display: inline-block;
	width:2000px;
	height:1000px;
	position: fixed;
	top: 655px;
	left:0px;
	background-color:#0FF00F;
}

.container3{
	background-color:#0F00FF;
	width: 1050px;
	position: fixed;
	top: 515px;
	left: 05px;
}


.subpanel {
	display:inline-block;
	top:500px;
	position:relative;
	background-color:#FF00F0;
}

.frame1{
	display:inline;
}

.canvas{
	width: 500px;
	
}

/* Basic styling */

.jumbotron {
  background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/bg.png'); 
  height: 13%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.jumbotron .container h1 {
  font-size: 48px;
  color: #fff;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.classform{
	display:block-inline;
}



.inputForm {
	background-color: #f7f7f7;
	margin-left:10px;
	display:inline-block;
}



